  <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title" id="offcanvasScrollingLabel">Carrito de compras</h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column justify-content-between">
        <h2 class="text-center fs-1 bg-warning">Modulo en construccion</h2>
        <img src="{{url_for('static', filename='img/Under-construction-bro.svg')}}">
        <a href="/checkout" class="btn btn-success">Finalizar compra</a>
     
    </div>
  </div>