<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Editar perfil</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/validation.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <style>
    .bg-white{
      background-color: white;
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body class="bg-light">
{% include 'header.html' %}
  <div class="container p-3  bg-white">
    <h2 class="text-center">Edita tu perfil</h2>
    <p class="text-center fs-4">Bienvenido a la página de edición de perfil. Aquí puede actualizar y agregar información a su perfil. Por favor, complete los siguientes campos:</p>
    <form action="" method="POST" novalidate id="form">
      <div class="accordion accordion-flush" id="accordionPerfil">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button " type="button" data-bs-toggle="collapse"data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Información personal</button>
          </h2>
          <div class="accordion-collapse collapsed show" id="collapseOne">
            <div class="accordion-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-2 validate" >
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" value="{{user['name']}}" required>
                    <label for="name">Nombre</label>
                    <div class="error-message">
                      Por favor escriba su Nombre.
                    </div>                
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating mb-2 validate">
                    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Apellido" value="{{user['lastName']}}" required>
                    <label for="lastName">Apellido</label>
                    <div class="error-message">
                      Por favor escriba su Apellido.
                    </div>  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-2 validate">
                    <input type="number" name="phone" class="form-control validate-pattern-phone" id="phone" placeholder="Telefono" value="{{user['phone']}}" required>
                    <label for="phone">Telefono</label>
                    <div class="error-message">
                      Por favor escriba su Telefono.
                    </div>  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-2 validate">
                    <input type="text" name="email" class="form-control validate-pattern-email" id="email" placeholder="Correo" value="{{user['email']}}" required>
                    <label for="email">Correo</label>
                    <div class="error-message">
                      Por favor escriba su Correo.
                    </div>              
                    <div class="pattern-error-message">
                      Su correo debe tener el siguiente formato.
                      email@example.com
                    </div>  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-floating mb-2">
                    <input type="text" name="confirmEmail" class="form-control validate-pattern-email validate-equal-email" id="confirmEmail" placeholder="Confirma el correo" required>
                    <label for="confirmEmail">Confirma el correo</label>
                    <div class="error-message">
                      Por favor confirme su correo.
                    </div>
                    <div class="pattern-error-message">
                      Su correo debe tener el siguiente formato.
                      email@example.com
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Contraseña
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
            <div class="accordion-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-2">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña" required>
                    <label for="password">Contraseña actual</label>
                    <div class="error-message">
                      Por favor escriba su contraseña.
                    </div>  
                  </div>   
                </div>             
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-2">
                    <input type="password" name="newPassword" class="form-control validate-equal-password" id="newPassword" placeholder="Contraseña" required>
                    <label for="newPassword">Contraseña nueva</label>
                    <div class="error-message">
                      Por favor complete este campo
                    </div>  
                  </div>   
                </div>
                <div class="col-lg-6">
                  <div class="form-floating mb-2">
                    <input type="password" name="confirmNewPassword" class="form-control validate-equal-password" id="confirmNewPassword" placeholder="Contraseña" required>
                    <label for="password">Confirma la ontraseña</label>
                    <div class="error-message">
                      Por favor confirme su nueva Contraseña 
                    </div>  
                  </div>                    
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Dirección
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-floating mb-2 validate">
                    <select class="form-select" id="streetType">
                    <option value="" selected disabled>Seleccione</option>
                      {% for streetType in streetTypes %}
                      {% if streetType['id'] == user['streetType']['id'] %}
                        <option value="{{streetType['id']}}" selected>{{streetType["name"]}}</option>
                      {% else %}
                        <option value="{{streetType['id']}}">{{streetType["name"]}}</option>
                      {% endif %}
                      {% endfor %}  
                    </select>
                    <label for="streetType">Tipo calle</label>
                    <div class="error-message">
                      Por favor seleccione el tipo de Calle
                    </div>  
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating mb-2 validate">
                    <input type="text" name="street" class="form-control" id="street" placeholder="Calle" value="{{user['street']}}" required>
                    <label for="street">Calle</label>
                    <div class="error-message">
                      Por favor escriba la Calle
                    </div>  
                  </div>                
                </div>
                <div class="col-lg-3">
                  <div class="form-floating mb-2 validate">
                    <input type="text" name="number" class="form-control" id="number" placeholder="Numero" value="{{user['addressNumber']}}" required>
                    <label for="number">Numero</label>
                    <div class="error-message">
                      Por favor porfavor escriba el Numero de la otra calle
                    </div>  
                  </div>                
                </div>  
                <div class="col-lg-3">
                  <div class="form-floating mb-2 validate">
                    <input type="text" name="house" class="form-control" id="house" value="{{user['addressHouse']}}" placeholder="-">
                    <label for="house">-</label>
                    <div class="error-message">
                      Por favor escriba el numero de la Casa
                    </div>  
                  </div>                
                </div>  
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder="Información adicional de la direccion" id="infoAddress" style="height: 100px; resize: none;">{{user['addressAditionalInfo']}}</textarea>
                    <label for="infoAddress">Información adicional de la direccion</label> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="address" class="mb-3"></div>
                <div id="map" style="width: 100%; height: 700px;"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-success  mt-3">Guardar perfil</button>
      </div>
    </form>
  </div>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2GI2fRJAN2on3y9CIfuijHbCoVntOs1k&callback=initMap" async defer></script>
  <script>
function initMap() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function (position) {
        var currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'location': currentLocation }, function (results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            if (results[0]) {
              var address = results[0].formatted_address;
              console.log('Dirección actual: ', address);

              var map = new google.maps.Map(document.getElementById('map'), {
                center: currentLocation,
                zoom: 15
              });

              var marker = new google.maps.Marker({
                position: currentLocation,
                map: map,
                title: 'Ubicación Actual'
              });

              var addressElement = document.getElementById('address');
              addressElement.textContent = 'Dirección actual: ' + address;
            } else {
              console.error('No se encontraron resultados de geocodificación.');
            }
          } else {
            console.error('Error de geocodificación: ', status);
          }
        });
      },
      function (error) {
        console.error('Error al obtener la ubicación: ', error);
      }
    );
  } else {
    console.error('Geolocalización no es soportada en este navegador.');
  }
}
  </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/validation.js')}}"></script>
  <script>
    (function(){
      const form = document.getElementById('form');
      const txtEmail = document.getElementById("email");
      const txtConfirmEmail = document.getElementById("confirmEmail");
      const txtPassword = document.getElementById("password");
      const txtNewPassword = document.getElementById("newPassword");
      const txtConfirmNewPassword = document.getElementById("confirmNewPassword");

      const valueEmail = "{{user["email"]}}";


      form.addEventListener('submit', event =>{

        if (txtEmail.value != valueEmail) {
          txtConfirmEmail.parentElement.classList.add("validate");
        }else{
          txtConfirmEmail.parentElement.classList.remove("validate");
        }

        if (txtNewPassword.value != "") {
          txtPassword.parentElement.classList.add("validate");
          txtNewPassword.parentElement.classList.add("validate");
          txtConfirmNewPassword.parentElement.classList.add("validate");
        }else{
          txtPassword.parentElement.classList.remove("validate");
          txtNewPassword.parentElement.classList.remove("validate");
          txtConfirmNewPassword.parentElement.classList.remove("validate");
        }

        if(!validate()){
          event.preventDefault();
          event.stopPropagation();
        }
          txtPassword.onchange = ()=>{null};
          txtPassword.onkeyup = ()=>{null};
          txtNewPassword.onchange = ()=>{
            if (txtNewPassword.value == "") {
              txtPassword.classList.remove("error")
              txtNewPassword.classList.remove("error");
              txtConfirmNewPassword.classList.remove("error");
              const clhildren = txtConfirmNewPassword.parentElement.childNodes;
              for(node of clhildren){
                if (node.tagName == "DIV" && node.classList.contains("error-message")) {
                  node.classList.remove("d-block")
                }
              }
              const clhildren1 = txtPassword.parentElement.childNodes;
              for(node of clhildren1){
                if (node.tagName == "DIV" && node.classList.contains("error-message")) {
                  node.classList.remove("d-block")
                }
              }
            }
          };
          txtNewPassword.onkeyup = ()=>{
            if (txtNewPassword.value == "") {
              txtPassword.classList.remove("error")
              txtNewPassword.classList.remove("error");
              txtConfirmNewPassword.classList.remove("error");
              const clhildren = txtConfirmNewPassword.parentElement.childNodes;
              for(node of clhildren){
                if (node.tagName == "DIV" && node.classList.contains("error-message")) {
                  node.classList.remove("d-block")
                }
              }
              const clhildren1 = txtPassword.parentElement.childNodes;
              for(node of clhildren1){
                if (node.tagName == "DIV" && node.classList.contains("error-message")) {
                  node.classList.remove("d-block")
                }
              }
            }
          };
          txtConfirmNewPassword.onchange = ()=>{null};
          txtConfirmNewPassword.onkeyup = ()=>{null};

      });
    })();
  </script> 
{% include 'footer.html' %}