	<footer class="bg-light py-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<h6 class="text-uppercase mb-4">Sobre nosotros</h6>
					<p>Somos una tienda en línea de artesanías comprometida con ofrecer productos únicos y de alta calidad. Nos enorgullece trabajar con artesanos locales y apoyar la cultura y las tradiciones de nuestra región. Estamos comprometidos en brindar una excelente experiencia de compra en línea y un servicio al cliente excepcional. ¡Gracias por apoyar a nuestra pequeña empresa!</p>

				</div>
				<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
					<h6 class="text-uppercase mb-4">Enlaces</h6>
					<ul class="list-unstyled mb-0">
						<li class="mb-2"><a href="#">Inicio</a></li>
						<li class="mb-2"><a href="#">Productos</a></li>
						<li class="mb-2"><a href="#">Nosotros</a></li>
						<li class="mb-2"><a href="#">Contacto</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
					<h6 class="text-uppercase mb-4">Categorías</h6>
					<ul class="list-unstyled mb-0">
						<li class="mb-2"><a href="#">Joyería</a></li>
						<li class="mb-2"><a href="#">Cerámica</a></li>
						<li class="mb-2"><a href="#">Textiles</a></li>
						<li class="mb-2"><a href="#">Decoración</a></li>
					</ul>
				</div>
				<div class="col-lg-4">
					<h6 class="text-uppercase mb-4">Contacto</h6>
					<p class="mb-1">123 Calle Falsa</p>
					<p class="mb-1">Ciudad Ficticia</p>
					<p class="mb-1">12345</p>
					<p class="mb-1">contacto@ejemplo.com</p>
				</div>
			</div>
			<div class="row d-flex flex-row justify-content-center align-items-center mb-4">
				<ul class="list-inline mt-4 text-center">
					<li class="list-inline-item">
						<a href="#" class="text-muted fs-3"><i class="bi bi-facebook fa-lg"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="text-muted fs-3"><i class="bi bi-twitter fa-lg"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="text-muted fs-3"><i class="bi bi-instagram fa-lg"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="text-muted fs-3"><i class="bi bi-pinterest fa-lg"></i></a>
					</li>
				</ul>
			</div>
			<hr class="my-4">
			<div class="row align-items-center">
				<div class="col-md-6 small text-center text-md-left">
					<p class="mb-0">&copy; 2023 Ejemplo de tienda en línea de artesanías. Todos los derechos reservados.</p>
				</div>
			</div>

		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>