<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/validation.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<title>{{product["name"]}}</title>
	<style>
		.bg-white{
			background-color: white;
		}
		.bg-green{
			background-color: #f1f9f7;
		}
		.image {
			max-width: 100%;
			max-height: 500px;
		} 
	</style>
</head>
<body>
	{% include "header.html" %}
	<div class="container">
		<div class="row ">
			<div class="col-lg-6 py-lg-5 d-flex align-items-center justify-content-center">
				<img src="{{get_s3_image_url(product.picture)}}" onerror='this.src="/static/uploads/{{product.picture}}"' alt="" style="" class="image">
			</div>
			<div class="col-lg-6 p-lg-5 d-flex flex-column justify-content-center">
				<h3 class="">{{product["name"]}}</h3>
				<h2 class="text-success">$ {{product["price"]}}</h2>
				<p>{{product["description"]}}</p>
				<p>Marca: {{product["brand"]}}</p>
				<p>Categoria: {{product["category"]["name"]}}</p>
				<button class="btn btn-success align-self-start px-5 mb-5 btn-add-product2" id="{{product['id']}}">Comprar</button>
				<p>Publicado por: {{product["user"]["name"]}} {{product["user"]["lastName"]}}</p>
				<p>Cantidad: {{product["quantity"]}}</p>
			</div>
		</div>
		<div class="row mt-3 mb-3">
			<div class="col-lg-8 mx-auto">
				<div class="row">
					<form action="/shop/product/{{product['id']}}/comment" method="POST" id="form">
						<div class="input-group validate">
							<textarea name="comment" id="comment" class="form-control " rows="3" placeholder="Deja tu comentario." style="resize: none;"></textarea>
							<button class="btn btn-success px-lg-3"> <i class="bi bi-send-fill"></i></button>
						</div>
					</form>

				</div>
				{% for comment in comments %}
				<div class="row">
					<div class="d-flex flex-column py-3 border-bottom	">
						<div class="d-flex justify-content-between">
							<h5>{{comment["user"]["name"]}}</h5>
							<p>{{comment["date"]}}</p>
						</div>
						<p>{{comment["comment"]}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	    <script type="text/javascript" src="{{url_for('static', filename='js/validation.js')}}"></script>
  <script>
    (function(){
      const form = document.getElementById('form');
      form.addEventListener('submit', event =>{
        if(!validate()){
          event.preventDefault();
          event.stopPropagation();
        }

      });
    })();
  </script> 
	{% include 'footer.html' %}