<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Resumen de compra</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <style>
    .bg-white{
      background-color: white;
    }
  </style>
</head>
<body class="bg-light">
  {% include 'header.html' %}
  <div class="container p-3  bg-white">
    <h1 class="text-center">Resumen de compra</h1>
    <h2 class="text-center fs-1 bg-warning">Modulo en construccion</h2>
    <div class="row mx-1 mx-md-2 mx-lg-4">
      <div class="col-md-6">
          <h3>Informacion de la factura</h3>
          <div class="row">
            <h2 class="">Fctura No. <span class="text-danger">11111</span></h2>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Cedula: </strong>1001043270</p>
              <p><strong>Nombre: </strong>{{session["user"]["name"]}} {{session["user"]["lastName"]}}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Correo: </strong>{{session["user"]["email"]}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Telefono: </strong>{{session["user"]["phone"]}}</p>
              <p><strong>Direccion: </strong>{{session["user"]["streetType"]["name"]}} {{session["user"]["street"]}} #{{session["user"]["addressNumber"]}} {{session["user"]["addressHouse"]}}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Informacion adicional: </strong>{{session["user"]["addressAditionalInfo"]}}</p>
              <p><strong>Ciudad: </strong>{{session["user"]["city"]["name"]}}</p>
            </div>
          </div>

          <div class="row my-3">
            <h5>Forma de pago</h5>
            <p>Efectivo</p>
            <h3 class="text-success">Estado de la compra: <strong>Entregado</strong></h3>
            <a href="#" class="btn btn-info my-3">Descargar factura</a>    
          </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center mb-3">  
          <h3>Detalle</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row">
              <div class="col-12 col-md-2">
                <img src="{{url_for('static', filename='img/Image-folder-amico.svg')}}" alt="">
              </div>
              <div class="col-12 col-md-7">
                <h5>Nombre del producto</h5>
                <p>Descripcion del producto</p>
              </div>
              <div class="col-12 col-md-3">
                <h4>$Precio</h4>
                <p>xcantidad</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row">
              <div class="col-12 col-md-2">
                <img src="{{url_for('static', filename='img/Image-folder-amico.svg')}}" alt="">
              </div>
              <div class="col-12 col-md-7">
                <h5>Nombre del producto</h5>
                <p>Descripcion del producto</p>
              </div>
              <div class="col-12 col-md-3">
                <h4>$Precio</h4>
                <p>xcantidad</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row">
              <div class="col-12 col-md-2">
                <img src="{{url_for('static', filename='img/Image-folder-amico.svg')}}" alt="">
              </div>
              <div class="col-12 col-md-7">
                <h5>Nombre del producto</h5>
                <p>Descripcion del producto</p>
              </div>
              <div class="col-12 col-md-3">
                <h4>$Precio</h4>
                <p>xcantidad</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row">
              <div class="col-12 col-md-2">
                <img src="{{url_for('static', filename='img/Image-folder-amico.svg')}}" alt="">
              </div>
              <div class="col-12 col-md-7">
                <h5>Nombre del producto</h5>
                <p>Descripcion del producto</p>
              </div>
              <div class="col-12 col-md-3">
                <h4>$Precio</h4>
                <p>xcantidad</p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex flex-column flex-md-row">
              <div class="col-12 col-md-2">
                <img src="{{url_for('static', filename='img/Image-folder-amico.svg')}}" alt="">
              </div>
              <div class="col-12 col-md-7">
                <h5>Nombre del producto</h5>
                <p>Descripcion del producto</p>
              </div>
              <div class="col-12 col-md-3">
                <h4>$Precio</h4>
                <p>xcantidad</p>
              </div>
            </div>
          </li>
           <li class="list-group-item bg-info">
            <div class="d-flex flex-md-row justify-content-between mx-2">
              <h4>Total</h4>
              <h4 class="fw-bold">$Valor</h4>
            </div>
          </li>
        </ul>

      </div>
    </div>

    
  </div>
  {% include 'footer.html' %}

